.info_style {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3vh 0;
  font-size: 3vh;
}

.ptitle_style {
  color: #fffab3;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.pbox_style {
  background-color: #fffab3;
  border-radius: 8px;
  padding: 0 0.5em;
  margin-bottom: 2vh;
}

.form_input_style, .pbox_style {
  -webkit-box-shadow: 2px 9px 18px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 9px 18px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 9px 18px -4px rgba(0, 0, 0, 0.75);
}

.divcont {
  display: flex;
  flex-direction: column;
  margin: 0 2vh;
}
/* Responsive adjustments */
@media (min-width: 769px) {
  .flex_container {
    font-size: 3vh;
  }

  .flex_container h1 {
    color: #fffab3;
  }
  
  /* Alinear dos columnas (mail y nombre) */
  .info_row_two {
    display: flex;
    justify-content: center;
  }

  /* Alinear tres columnas (dni, celular, dirección) */
  .info_row_three {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info_row {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
  }
  .data_style{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .divcont{
    padding: 0 2.5em 0 2.5em
  }
}

@media (max-width: 769px) {
  .flex_container {
    font-size: 2.5vh;
    font-weight: bold;
  }

  .form_input_style {
    width: 70vw;
  }

  .divcont {
    margin-top: 2vh;
  }
}
