/* Contenedor principal de resultados */
.restotal_box {
  padding: 0 1.5vw 1em 1.5vw;
  margin-top: 2vh;
  background-color: #e1db86; /* Beige */
  height: 100%;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.75);
  position: relative;
}

.ganadores{
  height: 25em;
  width: 25em;
}

/* Caja de puntaje */
.puntaje_box {
  background-color: #fffccd; /* Beige claro */
  padding: 1em;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

/* Contenedor de Tabs */
.resultados-tabs .nav-tabs {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 60vh;
  width: 35vw;
  background-color: #FFEB3B; /* Amarillo suave */
  border-radius: 8px;
  padding: 5px 0;
}

/* Estilo de cada tab */
.resultados-tabs .nav-link {
  color: #B11A17;
  background-color: #fffccd;
  padding: 10px 20px;
}

/* Tab activa */
.resultados-tabs .nav-link.active {
  color: #B11A17;
  background-color: #fffccd;
  font-style: italic;
  border: 2px solid #ddd27f; /* Borde rojo con grosor de 2px */
  border-bottom: none; /* Elimina el borde inferior */
  box-shadow: none;
  z-index: 2;
}

/* Hover */
.resultados-tabs .nav-link:hover {
  color: #B11A17;
  background-color: #fff896;
}

/* Contenedor de contenido de Tabs */
.resultados-tabs .tab-content {
  background-color: #fffccd; /* Fondo beige claro */
  padding: 1em; /* Espacio interno para el contenido */
  margin-top: 0.5em; /* Espacio entre las pestañas y el contenido */
  border: 1px solid rgba(59, 59, 59, 0.2);
  border-top: none;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.75);
  width: 35vw;
  height: 50vh;
  position: relative;
  z-index: 1;
}

/* Ajustes de tamaño para Tabs */
.resultados-tabs .nav-tabs .nav-item {
  flex-grow: 1; /* Cada tab ocupa el mismo espacio */
}

/* Estilos para la imagen */
.restotal_box img {
  width: 14vw;
  margin: 0;
  z-index: 1;
}

/* Estilos en móvil */
@media (max-width: 499px) {
  .restotal_box img {
    width: 14vw;
    margin: 0;
  }

  .resultados-tabs .tab-content,
  .resultados-tabs .nav-tabs {
    width: 100%; /* Se adapta al ancho completo en pantallas pequeñas */
  }
}
