.reg_body {
  color: #b11a17;
  background-color: #fffab3;
  margin: 10vh 0 0 0;
  padding-bottom: 40px;
}
.reg_container {
  background-color: #b11a17;
  border-radius: 17px 17px 17px 17px;
  -moz-border-radius: 17px 17px 17px 17px;
  -webkit-border-radius: 17px 17px 17px 17px;
  border: 0px solid #b11a17;
}
@media (max-width: 768px) {/*Responsive Mobile*/
  .reg_container {
    margin: 2em 2em 2em 2em;
    padding: 0 2em 2em 2em;
    font-size: 2vh;
  }
}
@media (min-width: 769px) {/*Responsive Desktop*/
  .reg_body{
    display: flex;
    align-items: center
  }
  .reg_container {
    width: 45%;
    margin: 5em 10em 2em 10em;
    padding: 2em 2em 2em 2em;
    font-size: 2vh;
  }
}
