@media (max-width: 412px) {
    .contiene-Body {
        display: flex;
        flex-direction: column;
        background-color: #FFFAB3;        
}
    .contieneCarrousel {
        
    background-color: #FFFAB3;    
    padding-top: 100px;

}

}

@media (min-width: 413px){

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* La altura del body es 100% del viewport */
        background-color: #FFFAB3;
    }
    h3, h4, h5{
        color: #7A170C;    
    }
    p {
        margin-left: 5px;
    }
    
    .contiene-Body {
            display: grid;
            grid-template-columns:50% 50%;
            grid-template-rows: 100%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            background-color: #FFFAB3;            
    }
    .contieneCarrousel {
        
        background-color: #FFFAB3;
        min-height: 100vh;        
        padding-top: 100px;
    
    }
    .contieneDescripcion {
        background-color: #FFFAB3;
        min-height: 100vh;
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
