.box_adquirircarton {
  background-color: #fffccd;
}
.box_adquirircarton .carousel-indicators{
  display: none;
}

.adquirir_body {
  background-color: #fffccd;
  height: 100%;
  padding: 6em 0 6em 0;
  display: flex;
}
.carton-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.carton-container .casilleroToggle{
  background-color: #f0f0f0;
  transform: none !important;
  outline: none !important;
  width: 160px !important;
  height: 160px !important;
  max-width: 160px !important;
  max-height: 160px !important;
}
.carton-container .casilleroToggle img{
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
}
.carton-container .carton-user{
  width: 45vw;
  height: 55vh;
  transition: none
}

.carton-container .casilleroUser{
  width: 160px;
  height: 160px;
  transition: none
}

.carton-container input{
  margin-left: 1vw;
  height: 20px;
  width: 20px;
}

.box_adquirircarton .carousel-control-prev-icon,
.box_adquirircarton .carousel-control-next-icon {
  background-color: #470000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Asegura que los controles sean clickeables */
}

.carousel-margin{
  width: 888px;
  height: 635.1px;
}

@media (min-width: 789px) {
  .box_adquirircarton {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
  }

  .botones_div {
    display: flex;
    flex-direction: column;
  }
  .button_only {
    margin: 1em 3em 0 1em;
  }
}
