.casilleroUser, .casilleroToggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%; /* Ajusta el tamaño del casillero relativo al contenedor */
  height: 20vw; /* Relativo al ancho de la ventana */
  border: 1px solid #000;
  cursor: pointer;
}

.casilleroUser {
  background-color: #f0f0f0;
}

.casilleroToggle {
  background-color: #5180578c;
}

.casilleroUser img, .casilleroToggle img {
  width: 80%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.casilleroUser p,
.casilleroToggle p {
  margin-top: 5px; /* Ajusta el espaciado entre imagen y texto */
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 499px) {
  .casilleroUser, .casilleroToggle {
    width: 16vw; /* Reduce el tamaño relativo */
    height: 16vw; /* Mantiene la proporción */
  }

  .carton-user {
    gap: 0.3em; /* Reduce el espacio entre casilleros */
  }
  .cartones .accordion-button {
    width: 90vw !important;
  }
  .cartones p{
    margin-top: 0px;
  }
}
/* Para pantallas pequeñas como móviles */
@media (min-width: 500px) and (max-width: 779px) {
  .casilleroUser, .casilleroToggle {
    width: 7rem;
    height: 7rem;
  }
}

/* Para pantallas grandes como desktops */
@media (min-width: 780px) {
  .casilleroUser, .casilleroToggle {
    width: 10vw;
    height: 10vw;
  }
}
