footer{
  -webkit-box-shadow: 0px 2px 18px 3px #4A1818; 
  box-shadow: 0px 3px 18px 3px #4A1818;
}
.social{
  filter: drop-shadow(12px 16px 15px #570000);
}
.copyright{
  text-align: left;
}
@media (max-width: 768px) { /*Responsive Mobile*/
  footer {
    background-color: #b11a17;
    color: antiquewhite;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer {
    bottom: 0;
    left: 0;
  }
  .copyright {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
  }
  .parrafo_style {
    margin: 0px 0px 0.1vh 0px;
    font-size: large;
  }
  .texto-historia{
    margin-top: 2vh;
  }
}
@media (min-width: 769px) { /*Responsive Desktop*/
  footer {
    background-color: #b11a17;
    color: antiquewhite;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .copyright {
    display: flex;
    flex-direction: column;
    margin: 0.5vh 0px 0.1vh 0px;
  }
  .redes img {
    margin-left: 4vh;
  }
  .parrafo_style {
    margin: 0px 0px 0.1vh 0px;
    font-size: large;
  }
}