/* Cambiar el color de los títulos (pestañas) */

.my-custom-tabs .nav-link {
    color: #B11A17;  /* Color del texto de las pestañas */
    background-color: #FFFAB3; /* Fondo de las pestañas */
    border: 1px solid #f7ea38; /* Borde para cada pestaña */
    margin-right: 5px; /* Espacio entre las pestañas */
    border-radius: 4px 4px 0 0; /* Bordes redondeados en la parte superior */
  }
  
  .my-custom-tabs .nav-link.active {
    color: #FFFAB3; /* Color del texto de la pestaña activa */
    background-color: #B11A17; /* Fondo de la pestaña activa */
  }
  
  /* Cambiar el fondo del contenido de las pestañas */
  .tab-content-custom {
    background-color: #FFFAB3; /* Fondo del contenido de las pestañas */
    border-radius: 4px;
    border: 1px solid #f7ea38;
    margin-top: 5px;
    height: 65vh;
  }
  
  